<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/2002/xmlspec/dtd/2.10/xmlspec.dtd"> -->
<configuration>
    <property name="path" value="logs"/>

       <!-- STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/ouput_%i.log
            </FileNamePattern>
            <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
 
        <encoder>
            <pattern>%date [%thread] %-5level %logger{0} [%file:%line] %X{ip} %X{sysCode} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- redis_center -->
    <appender name="redis_center" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/redis_center_%i.log
            </FileNamePattern>
           <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{0} [%file:%line] %X{ip} %X{sysCode} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- aspect_log -->
    <appender name="aspect_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/aspectLog_%i.log
            </FileNamePattern>
           <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{0} [%file:%line] %X{ip} %X{sysCode} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- spring_boot -->
    <appender name="spring_boot" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/spring_boot_%i.log
            </FileNamePattern>
            <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{0} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- mybaits -->
    <appender name="mybaits" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/mybaits_%i.log
            </FileNamePattern>
           <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{0} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 错误日志 -->
    <appender name="frame_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${path}/%d{yyyy-MM-dd}/error_%i.log
            </FileNamePattern>
            <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 输出 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.caiyi.lottery.tradesystem" level="INFO" additivity="false">
        <appender-ref ref="redis_center"/>
    </logger>
    <logger name="org" level="INFO" additivity="false">
        <appender-ref ref="spring_boot"/>
        <appender-ref ref="frame_error"/>
    </logger>
    <logger name="com.netflix" level="INFO" additivity="false">
        <appender-ref ref="spring_boot"/>
        <appender-ref ref="frame_error"/>
    </logger>

    <!-- 下面是打印 mybatis语句的配置 -->
    <logger name="com.ibatis" level="INFO" additivity="false">
        <appender-ref ref="mybaits"/>
    </logger>

    <logger name="java.sql.Connection" level="INFO" additivity="false">
        <appender-ref ref="mybaits"/>
    </logger>

    <logger name="java.sql.Statement" level="INFO" additivity="false">
        <appender-ref ref="mybaits"/>
    </logger>

    <logger name="java.sql.PreparedStatement" level="INFO" additivity="false">
        <appender-ref ref="mybaits"/>
    </logger>

    <logger name="java.sql.ResultSet" level="INFO" additivity="false">
        <appender-ref ref="mybaits"/>
    </logger>
    <logger name="com.caiyi.lottery.tradesystem.aspect.LoggerAspect" level="INFO" >
        <appender-ref ref="aspect_log"/>
    </logger>
</configuration>