<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caiyi.lottery.tradesystem.paycenter.dao.RechCardMapper">

	

	<insert id="insertRechCard" parameterType="pay.bean.PayBean">
		insert into tb_recharge_card 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			CNICKID,CBANKCODE,CBANKNAME,CCARDTYPE,CCARDNAME,CCARDNO,CLASTFOURCARDNO,CSTATUS,CAUTHENTICATION,CSAFEKEY,
			<if test='mobileNo != null'>
				CMOBILE,
			</if>
			<if test='md5Mobile !=null'>
				CMOBILEMD5,
			</if>
		</trim>
			
		<trim prefix=" values(" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=VARCHAR},
			#{bankCode,jdbcType=VARCHAR},
			#{bankName,jdbcType=VARCHAR},
			#{cardtype,jdbcType=VARCHAR},
			#{cardName,jdbcType=VARCHAR},
			#{cardNo,jdbcType=VARCHAR},
			#{lastFourCardNum,jdbcType=VARCHAR},
			'0',
			#{authFlag,jdbcType=VARCHAR},
			#{safeKey,jdbcType=VARCHAR},
			<if test='mobileNo != null'>
				#{mobileNo,jdbcType=VARCHAR},
			</if>
			<if test='md5Mobile !=null'>
				#{md5Mobile,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<select id="queryCardByKey" resultMap="rechCardMap">
		select * from tb_recharge_card where csafekey = #{arg0} and cnickid = #{arg1}
	</select>
	
	<select id="queryUserVisibleCard" parameterType="String" resultMap="rechCardMap">
		select cbankcode,ccardtype,csafekey,cbankname from tb_recharge_card where cnickid = #{uid} and cstatus = '1'
	</select>
	
	<resultMap id="rechCardMap" type="pay.pojo.RechCardPojo">
  		<result property="uid" column="CNICKID"/>
  		<result property="bankCode" column="CBANKCODE"/>
  		<result property="bankName" column="CBANKNAME"/>
  		<result property="cardtype" column="CCARDTYPE"/>
  		<result property="cardName" column="CCARDNAME"/>
  		<result property="cardNo" column="CCARDNO"/>
  		<result property="lastFourCardNum" column="CLASTFOURCARDNO"/>
  		<result property="bankCode" column="cbankcode"/>
  		<result property="adddate" column="CADDDATE"/>
  		<result property="safeKey" column="CSAFEKEY"/>
  		<result property="status" column="CSTATUS"/>
  		<result property="authFlag" column="CAUTHENTICATION"/>
  		<result property="mobileNo" column="CMOBILE"/>
  		<result property="md5Mobile" column="CMOBILEMD5"/>
	</resultMap>
	
</mapper>